.registrationBlock__wrapper
    .registrationBlock
        .registrationBlock__title REGISTRATION
        .registrationBlock__name Your name
        .registrationBlock__input
            input(type="text" placeholder="Enter your name")

        .registrationBlock__name Your last name
        .registrationBlock__input
            input(type="text" placeholder="Enter your last name")

        .registrationBlock__name Your mail
        .registrationBlock__input
            input(type="text" placeholder="Enter your mail")

        .registrationBlock__name Your login
        .registrationBlock__input
            input(type="text" placeholder="Enter your login")

        .registrationBlock__name Your password
        .registrationBlock__input
            input(type="text" placeholder="Enter your password")

        button.registrationBlock__btn SEND
    .registrationBlock.registrationBlock--license
        .registrationBlock__title LICENSE
        .registrationBlock__license
           | All sound effects on this website (www.taketone.com) are created by Finnolia Productions Inc, registered with the U.S. Copyright Office and protected under the copyright laws, international treaty provisions and other applicable laws.
           | The following terms and conditions constitute a legally binding License Agreement ("License Agreement") between you ("you", "your" or "Licensee") and Finnolia Productions Inc ("Licensor", "we", "our"). By downloading Sound Effects from this website, you acknowledge that you have read this License Agreement, understand it, and agree to be bound by its terms and conditions.
           | 1. Rights Granted
           | You are allowed to use the Sound Effects free of charge and royalty free in your projects (such as videos, films, games, presentations, animations, stage plays, multimedia projects, advertisements, apps) be it for commercial or non-commercial purposes, solely in accordance with the terms and conditions of this License Agreement.
           | 2. Restrictions of Uses
           | The license granted in Section 1 above is expressly made subject to and limited by the following restrictions:
           | a. You may not claim ownership or authorship of the Sound Effects represented under this Agreement.
           | b. You may not sell, re-sell, license, re-license or give away the Sound Effects (as sound effects or ringtones) to anyone else.
           | c. You may not post the Sound Effects (as sound effects or ringtones) on any website for others to use.
           | d. You may not use the Sound Effects as a raw material to create sound effects or ringtones that you will sell, distribute or offer for downloading.
           | e. You may not distribute the Sound Effects in Apps that are clearly sound related and which primary value lies in the Sound Effects themselves, such as "sound effects app", "soothing sounds app", "instant sounds app", "funny sounds app", etc.
           | f. You may not distribute the Sound Effects in computer programs that use the Sound Effects as the program's sound resource library for others to use (such as "virtual instrument software", "ringtone maker", "sound machine", "animation creator", "digital book creator", "sound effect generator", etc.).
           | g. While you are perfectly allowed use the Sound Effects in your internet videos, you may not post them as "sound effect videos" to any online video sharing sites. An example would be a video titled "dog sound effect" that simply plays our dog sound effect.
           |  h. You may not use the Sound Effects in templates you intend to sell or make available for download.
           | i. You are not allowed to link directly ("hotlink") to any audio files on our server.
           | 3. Copyright
           | The sound effects are licensed to you, not sold, pursuant to the terms of this License Agreement. No title or intellectual property right is transferred to you. This means that you can use the Sound Effects royalty free in your projects but do not own the actual copyright. Licensor retain all ownership rights to the Sound Effects.
           | If you have questions about this License Agreement, please contact us