.loginBlock__wrapper
    .loginBlock
        input.loginBlock__input(type="text" placeholder="login")
        input.loginBlock__input(type="password" placeholder="password")
        button.loginBlock__btn(value="Login") Login
        a.loginBlock__recover  Recover pass