.tabsContent{
  font-size: 0;
  border: 2px solid $primaryColor;
  padding: 12px 10px 0;
  display: none;


  &.active{
    display: block;
  }

  &__wrapper{
    user-select: none;
  }

  &__borderTab{
    font-size: 0;

    @media (min-width: 1024px) {
      display: flex;
      width: 100%;
    }
  }

  &__tab{
    flex-grow: 1;
    display: block;
  margin-bottom: 2px;
    background-color: $secondColor;
    letter-spacing: 10px;
    padding: 8px 55px 1px;
    cursor: pointer;
    &:last-child{
      margin-right: 0;
    }

    &.active{
    background-color: $primaryColor;
    }

    &:hover{
      background-color: $primaryColor;
    }

    @media (min-width: 1024px) {
      display: inline-block;
      margin-right: 12px;
      margin-bottom: 0px;
    }
  }

  &__tabName{
    font-weight: bold;
    font-size: 20px;

    @media (min-width: 425px) {
      font-size: 28px;
    }
  }

  &__linkWrapper{
    @include ColBlock10(10,10);
    text-align: center;
    margin-bottom: 12px;

    @media (min-width: 425px) {
      @include ColBlock10(10,5);
    }

    @media (min-width: 768px) {
      @include ColBlock10(10,3.3);
    }

    @media (min-width: 1024px) {
      @include ColBlock10(10,2);
    }
  }

  &__link{
    position: relative;
    display: inline-block;
    width: 188px;
    height: 188px;

    &:after{
      content: '';
      top: 0;
      opacity: 0.8;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: $threeColor;
      transition: opacity 0.8s;
    }

    &:before{
      content: '';
      top: 0;
      opacity: 0.3;
      z-index: 2;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
      transition: opacity 0.8s;
    }



    &:hover{
      &:after{
        opacity: 0.8;
        background: $secondColor;
        transition: opacity 0.8s;
      }
      &:before{
        opacity:0;
        transition: opacity 0.8s;
      }

    }
  }

  &__img{
    position: absolute;
    left: 0;
  }

  &__name{
    @include  middleContent();
    position: relative;
    display: inline-block;
    z-index: 2;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
}