header
    .headerBlock__wrapper
        .headerBlock
            .headerBlock__logo
                include ../mainLogo/mainLogo.pug
            .headerBlock__nav
                +mainMenu('mainMenu',null, 'ABOUT', 'NEW MUSIC', 'BROWSE', 'LICENSE', 'BLOG', 'FAQ')