include ../mixin.pug
header
    .headerBlock__wrapper
        .headerBlock
            include ../mainLogo/mainLogo.pug

            +mainMenu('mainMenu', 'ABOUT', 'NEW MUSIC', 'BROWSE', 'LICENSE', 'BLOG', 'FAQ')