.headerBlock {
  font-size: 0;
  text-align: center;
  @media (min-width: 1024px) {
    text-align: right;
  }

  &__wrapper {
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      padding-top: 24px;
    }
  }

  &__logo {
    @include ColBlock10(10, 5);
    vertical-align: middle;
    font-size: 8px;
    text-align: center;

    @media (min-width: 1024px) {
      @include ColBlock10(10, 2);
      font-size: 11.5px;
    }
  }

  &__nav {
    position: fixed;
    vertical-align: middle;
    left: 10px;
    top:10px;

    @media (min-width: 1024px) {
      @include ColBlock10(10, 8);
    }
  }
}