.sortBy {
  display: inline-block;
  width: 100%;
  max-width: 33%;
  text-align: center;
  position: relative;
  z-index: 3;

  &__wrapper {
    font-size: 0;
    padding: 10px;
    background-color: #000000;

  }

  &__list{
    font-size: 14px;
    color: #fff;
    padding:0 10px;
    display: inline-block;
    border-right: 2px solid $oneColor;
    cursor: pointer;

    &:last-child{
      border: none;
    }
  }

  &__linkBlock{
    display: none;
    font-size: 14px;
    background-color: #fff;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    text-align: left;
  }

  &__link{
    color: #666;
    display: inline-block;
    padding: 2px 0;
    width: 33%;

    &:hover{
      color: #222;
    }
  }

  &__title {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 33%;
  }

  &__selectWrapper{
    display: inline-block;
    width: 100%;
    max-width: 33%;
    text-align: right;
  }

  &__selectBlock {
    margin: 0 auto;
    position: relative;
    background-color: $oneColor;
    border-color: #ddd;
    color: #333;
    padding: 5px 15px;
    display: inline-block;
    text-align: left;
    max-width: 155px;
    width: 100%;

    span.sortBy__select {
      font-weight: bold;
      opacity: 1;
      font-size: 14px;
      position: relative;
      padding: 0;
      display: inline-block;
      min-height: auto;
      width: 100%;
      text-align: left;

        background-image: url(../images/arrowDown2.png);
        background-size: 19px;
        background-repeat: no-repeat;
        background-position: center right;
    }

  }

  &__select {
    padding: 0 15px;
    background-color: $oneColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    filter: Alpha(Opacity=0);
    opacity: 0;
    z-index: 2;


    option {
      font-size: 20px;
    }

  }
}

.sortBy__list:hover > .sortBy__linkBlock{
  display: inline-block;
}