.sortBy__wrapper
    .sortBy__title
        span Refine your search:
    .sortBy
        a(href="#").sortBy__link Genre
        a(href="#").sortBy__link Mood
        a(href="#").sortBy__link Instrument
        a(href="#").sortBy__link Duration
    .sortBy__selectWrapper
        .sortBy__selectBlock
            span.sortBy__select Sort by
            select.sortBy__select
                option(value="1") sel_1
                option(value="2") sel_2
                option(value="3") sel_3
                option(value="4") sel_4


