.sortBy__wrapper
    .sortBy__title
        span Refine your search:
    ul.sortBy
        li.sortBy__list Genre
            .sortBy__linkBlock
                a(href="#").sortBy__link Rock (0)
                a(href="#").sortBy__link Drum (7)
                a(href="#").sortBy__link Bass (1)
                a(href="#").sortBy__link Bird (9)
                a(href="#").sortBy__link Jazz (11)
                a(href="#").sortBy__link Folk (0)
                a(href="#").sortBy__link Walk (7)
                a(href="#").sortBy__link Snupp (1)
                a(href="#").sortBy__link Dog (9)
                a(href="#").sortBy__link Piph (11)
                a(href="#").sortBy__link Path (0)
                a(href="#").sortBy__link Trololo (7)
                a(href="#").sortBy__link Piano (1)
                a(href="#").sortBy__link Pokemon (9)
                a(href="#").sortBy__link Racket (11)
                a(href="#").sortBy__link Jobs (0)
                a(href="#").sortBy__link Style (7)
                a(href="#").sortBy__link Nuts (1)
                a(href="#").sortBy__link Mars (9)
                a(href="#").sortBy__link Mandms (11)
        li.sortBy__list Mood
           .sortBy__linkBlock
                a(href="#").sortBy__link Rock (0)
                a(href="#").sortBy__link Drum (7)
                a(href="#").sortBy__link Bass (1)
                a(href="#").sortBy__link Bird (9)
                a(href="#").sortBy__link Jazz (11)
                a(href="#").sortBy__link Folk (0)
                a(href="#").sortBy__link Walk (7)
                a(href="#").sortBy__link Snupp (1)
                a(href="#").sortBy__link Dog (9)
                a(href="#").sortBy__link Piph (11)
                a(href="#").sortBy__link Path (0)
                a(href="#").sortBy__link Trololo (7)
                a(href="#").sortBy__link Piano (1)
                a(href="#").sortBy__link Pokemon (9)
                a(href="#").sortBy__link Racket (11)
                a(href="#").sortBy__link Jobs (0)
                a(href="#").sortBy__link Style (7)
                a(href="#").sortBy__link Nuts (1)
                a(href="#").sortBy__link Mars (9)
                a(href="#").sortBy__link Mandms (11)
        li.sortBy__list Instrument
            .sortBy__linkBlock
                a(href="#").sortBy__link Rock (0)
                a(href="#").sortBy__link Drum (7)
                a(href="#").sortBy__link Bass (1)
                a(href="#").sortBy__link Bird (9)
                a(href="#").sortBy__link Jazz (11)
                a(href="#").sortBy__link Folk (0)
                a(href="#").sortBy__link Walk (7)
                a(href="#").sortBy__link Snupp (1)
                a(href="#").sortBy__link Dog (9)
                a(href="#").sortBy__link Piph (11)
                a(href="#").sortBy__link Path (0)
                a(href="#").sortBy__link Trololo (7)
                a(href="#").sortBy__link Piano (1)
                a(href="#").sortBy__link Pokemon (9)
                a(href="#").sortBy__link Racket (11)
                a(href="#").sortBy__link Jobs (0)
                a(href="#").sortBy__link Style (7)
                a(href="#").sortBy__link Nuts (1)
                a(href="#").sortBy__link Mars (9)
                a(href="#").sortBy__link Mandms (11)
        li.sortBy__list Duration
            .sortBy__linkBlock
                a(href="#").sortBy__link Rock (0)
                a(href="#").sortBy__link Drum (7)
                a(href="#").sortBy__link Bass (1)
                a(href="#").sortBy__link Bird (9)
                a(href="#").sortBy__link Jazz (11)
                a(href="#").sortBy__link Folk (0)
                a(href="#").sortBy__link Walk (7)
                a(href="#").sortBy__link Snupp (1)
                a(href="#").sortBy__link Dog (9)
                a(href="#").sortBy__link Piph (11)
                a(href="#").sortBy__link Path (0)
                a(href="#").sortBy__link Trololo (7)
                a(href="#").sortBy__link Piano (1)
                a(href="#").sortBy__link Pokemon (9)
                a(href="#").sortBy__link Racket (11)
                a(href="#").sortBy__link Jobs (0)
                a(href="#").sortBy__link Style (7)
                a(href="#").sortBy__link Nuts (1)
                a(href="#").sortBy__link Mars (9)
                a(href="#").sortBy__link Mandms (11)
    .sortBy__selectWrapper
        .sortBy__selectBlock
            span.sortBy__select Sort by
            select.sortBy__select
                option(value="1") sel_1
                option(value="2") sel_2
                option(value="3") sel_3
                option(value="4") sel_4


