.mainMenu {
  text-align: right;
  font-size: 17px;


  &__wrapper {
    width: 100%;
    text-transform: uppercase;
  }

  &__link {
    text-align: center;
    font-weight: 300;
    display: none;

    &:after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 16px;
      vertical-align: middle;
      background: $primaryColor;

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    span {
      color: #fff;
      margin: 0 21px;
    }

    &:hover {
      span {
        color: $primaryColor;
        text-decoration: underline;
      }
    }
  }

  &--mini {
    font-size: 14px;

    span {
      margin: 0 24px;
    }
  }
}

.mobileMenu {
  margin-right:24px ;
  background-image: url("/images/menu.png");
  background-size: contain;
  display: inline-block;
  width: 40px;
  height: 40px;
}

