.mainMenu {
  text-align: left;
  font-size: 17px;

  @media (min-width: 768px) {
    text-align: right;
  }

  &__wrapper {
    width: 100%;
    text-transform: uppercase;
  }

  &__link {
    text-align: left;
    font-weight: 300;
    display: none;

    span {
      color: #fff;
      display: inline-block;
      margin: 5px 0;
    }

    &:hover {
      span {
        color: $primaryColor;
        text-decoration: underline;
      }
    }

    @media (min-width: 768px) {
      display: inline-block;
      text-align: center;

      span {
        margin: 0 21px;
      }

      &:after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 16px;
        vertical-align: middle;
        background: $primaryColor;

        &:last-child {
          &:after {
            display: none;
          }
        }
      }

    }

    &.active {
      display: block;
      min-width: 80%;
      border-bottom: 2px solid $oneColor;

      &:last-child {
        border: none;
      }
    }
  }

  &__signIn {
    margin-top: 5px;
  }

  &__userName {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Myriad Pro", sans-serif;
    letter-spacing: 5px;
    color: $oneColor;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }
  }

  &__img {
    max-width: 39px;
    max-height: 39px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid $oneColor;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    img {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  &__login {
    background-image: url("/images/logout.png");
    padding: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
  }

  &--mini {
    font-size: 14px;

    span {
      margin: 0 10px;
    }

    @media (min-width: 1024px) {
      span {
        margin: 0 24px;
      }
    }
  }
}

.mobileMenu {
  margin-right: 24px;
  background-image: url("/images/menu.png");
  background-size: contain;
  display: inline-block;
  width: 100%;
  min-width: 40px;
  height: 40px;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    display: none;
  }
}

