.aboutSingle__wrapper
    .aboutSingle
        ul.aboutSingle__list
            li.aboutSingle__info
                .aboutSingle__listTitle Duration:
                .aboutSingle__listContent 2:24
            li.aboutSingle__info
                .aboutSingle__listTitle Tempo:
                .aboutSingle__listContent Tags
            li.aboutSingle__info
                .aboutSingle__listTitle Files Included:
                .aboutSingle__listContent Full Track - 2:24
    .aboutSingle
        ul.aboutSingle__list
            li.aboutSingle__info
                .aboutSingle__listTitle Genres:
                .aboutSingle__listContent Business/Tech, Folk, Indie
            li.aboutSingle__info
                .aboutSingle__listTitle Moods:
                .aboutSingle__listContent Inspiring, Nostalgic, Uplifting
            li.aboutSingle__info
                .aboutSingle__listTitle Instruments:
                .aboutSingle__listContent Acoustic, Orchestral, Piano, Strings, Synths
            li.aboutSingle__info
                .aboutSingle__listTitle Tags:
                .aboutSingle__listContent |achieve, advertising, aspirational, bright, brush kit,
                    |building, calm, cheerful, confident, contemporary,
                    |determined, gentle, hopeful, light, positive, reflective,
                    |rising up, serious, strength, strong, thoughtful, uplifting