.followBlock__wrapper
    .followBlock
        .followBlock__title follow us:
        a.followBlock__link.followBlock__link--face(href="#") facebook
        a.followBlock__link.followBlock__link--inst(href="#") instagremm
        a.followBlock__link.followBlock__link--ytube(href="#") youtube