
<div class="sortBy__wrapper">
  <div class="sortBy__title"><span>Refine your search:</span></div>
  <div class="sortBy"><a class="sortBy__link" href="#">Genre</a><a class="sortBy__link" href="#">Mood</a><a class="sortBy__link" href="#">Instrument</a><a class="sortBy__link" href="#">Duration</a></div>
  <div class="sortBy__selectWrapper">
    <div class="sortBy__selectBlock"><span class="sortBy__select">Sort by</span>
      <select class="sortBy__select">
        <option value="1">sel_1</option>
        <option value="2">sel_2</option>
        <option value="3">sel_3</option>
        <option value="4">sel_4</option>
      </select>
    </div>
  </div>
</div>
<div class="Singleresult__wrapper">
  <div class="SingleResult parent"><a class="SingleResult__img" href="/SinglePage.html?id="><img src="images/imgSingle/no.jpg"/></a>
    <div class="SingleResult__block">
      <div class="SingleResult__name"><a class="SingleResult__artist" href="/SinglePage.html?id=">No name</a>
        -
        <a class="SingleResult__title" href="/SinglePage.html?id=">No name</a>
      </div>
      <div class="btn__wrapper">
        <button class="btn btn--play toggleBtn_js">Play</button>
      </div>
      <div class="SingleResult__wave">
        <div class="waveform" id="waveform"></div>
        <div class="SingleResult__timePassed">00:00</div>
      </div>
    </div>
    <div class="SingleResult__time">00:00</div>
    <div class="SingleResult__tag"><a href="#">Industrial</a><a href="#">mix</a><a href="#">TaG</a><a href="#">Radio</a></div>
    <div class="SingleResult__buttons">
      <button class="btn btn--download"></button><a class="btn btn--basket" href="#"><span>246$</span></a><a class="btn btn--add" href="#"></a>
      <div class="SingleResult__view">2</div>
    </div>
  </div>
</div>