.singleHeader__wrapper
    img(src="/images/single1.jpg").singleHeader__img

    .singleHeader
        .singleHeader__name
            div
                span.singleHeader__artis No name
                span.singleHeader__soundName No name
        .singleHeader__nav
            .SingleResult
                a(href='#').SingleResult__img
                    img(src="images/imgSingle/no.jpg")

                .SingleResult__name
                    a(href='#').SingleResult__artist No name
                    a(href='#').SingleResult__title No name

                .btn__wrapper
                    button.btn.btn--play.toggleBtn_js(data-id="3") Play

                .SingleResult__wave
                    #waveform3.waveform
                    .SingleResult__timePassed 00:00

                .SingleResult__time 00:00

                .SingleResult__tag
                    a(href='#') Industrial
                    a(href='#') mix
                    a(href='#') TaG

