.singleHeader__wrapper
    img(src="/images/single1.jpg").singleHeader__img

    .singleHeader
        .singleHeader__name
            div
                span.singleHeader__artis No name
                span.singleHeader__soundName No name
        .singleHeader__nav
            .SingleResult
                //.btn__wrapper
                //    button.btn.btn--back.backBtn_js(data-id="3")

                .btn__wrapper
                    button.btn.btn--play.toggleBtn_js(data-id="3") Play

                //.btn__wrapper
                //    button.btn.btn--next.nextBtn_js(data-id="3")

                .SingleResult__buttons
                    button.btn.btn--download
                    a(href="#").btn.btn--basket
                        span 246$
                    a(href="#").btn.btn--add

                .SingleResult__wave.SingleResult__wave--header
                    #waveform3.waveform
                    .SingleResult__timePassed 00:00

                .SingleResult__time(style="display: none;")
