.footerPlayer__wrapper
    .footerPlayer

        .btn__wrapper
            button.btn.btn--play.toggleBtn_js(data-id="0") Play

        .footerPlayer__time 00:00

        .footerPlayer__line
            .footerPlayer__name
                a(href='/SinglePage.html?id=0').footerPlayer__artist No name -
                a(href='/SinglePage.html?id=0').footerPlayer__title No name

            .footerPlayer__timeLine
                .progress

        a(href='/SinglePage.html?id=0').footerPlayer__img
            img(src="images/imgSingle/no.jpg")

        .footerPlayer__buttons
            button.btn.btn--download
            a(href="#").btn.btn--basket
                span 246$
            a(href="#").btn.btn--add
