.addCart__wrapper
    .addCart
        .addCart__block
            .addCart__img
                img(src="images/imgSingle/no.jpg")

            .addCart__name
                a(href='/SinglePage.html?id=').addCart__artist No name

                a(href='/SinglePage.html?id=').addCart__title No name

            .addCart__selectBlock
                span.addCart__license Select License
                select.addCart__license
                    option(value="-1") Select License
                    option(value="0")  License Free
                    option(value="1") License VIP

        .addCart__btn
            .btn.btn--add.active

        .addCart__price
            span 0

    .addCart
        .addCart__block
            .addCart__img
                img(src="images/imgSingle/no.jpg")

            .addCart__name
                a(href='/SinglePage.html?id=').addCart__artist No name

                a(href='/SinglePage.html?id=').addCart__title No name

            .addCart__selectBlock
                span.addCart__license License VIP
                select.addCart__license
                    option(value="-1") Select License
                    option(value="0")  License Free
                    option(value="1" selected) License VIP

        .addCart__btn
            .btn.btn--add.active

        .addCart__price
            span 246$

    .addCart
        .addCart__block
            .addCart__img
                img(src="images/imgSingle/no.jpg")

            .addCart__name
                a(href='/SinglePage.html?id=').addCart__artist No name

                a(href='/SinglePage.html?id=').addCart__title No name

            .addCart__selectBlock
                span.addCart__license License Free
                select.addCart__license
                    option(value="-1") Select License
                    option(value="0" selected)  License Free
                    option(value="1") License VIP
        .addCart__btn
            .btn.btn--add.active

        .addCart__price
            span 0$


hr.addCart__hr
.addCart__footer
    .addCart__btnPay
        .btn.btn--pay Pay

    .addCart__total Total:
        span.addCart__TotalNum  246
        span $



