extends blocks/MainLayout.pug
block content
    .allContent__wrapper
        .allContent
            include blocks/headerBlock/headerBlock.pug
            include blocks/searchBlock/searchBlock.pug


