extends blocks/MainLayout.pug
block content
    .allContent__wrapper
        .allContent
            include blocks/headerBlock/headerBlock.pug
            include blocks/inputSend/inputSend.pug
            include blocks/SingleResult/SingleResult.pug


