.Singleresult__wrapper
    .SingleResult.parent
        a(href='/SinglePage.html?id=').SingleResult__img
            img(src="images/imgSingle/no.jpg")
        .SingleResult__name
            a(href='/SinglePage.html?id=').SingleResult__artist No name
            a(href='/SinglePage.html?id=').SingleResult__title No name

        .btn__wrapper
            button.btn.btn--play.toggleBtn_js Play

        .SingleResult__wave
            #waveform.waveform
            .SingleResult__timePassed 00:00


        .SingleResult__time 00:00
        .SingleResult__tag
            a(href='#') Industrial
            a(href='#') mix
            a(href='#') TaG

        .SingleResult__buttons
            button.btn.btn--download
            a(href="#").btn.btn--basket
                span 246$
            a(href="#").btn.btn--add
            .SingleResult__view 2










