.userPage__wrapper
    .userPage__sideBar
        ul.userPage__menu
            li.userPage__list.userPage__list--payCart
                a.userPage__link(href="#") My cart
            li.userPage__list.userPage__list--cart
                a.userPage__link(href="#") My download
            li.userPage__list.userPage__list--like
                a.userPage__link(href="#") My like
            li.userPage__list.userPage__list--settings
                a.userPage__link(href="#") My settings
    .userPage__content
        include ../addCart/addCart.pug
